# default LF normalization
* text=auto

# standard msysgit
*.doc	diff=astextplain
*.DOC	diff=astextplain
*.docx	diff=astextplain
*.DOCX	diff=astextplain
*.dot	diff=astextplain
*.DOT	diff=astextplain
*.mpp	diff=astextplain
*.MPP	diff=astextplain
*.pdf	diff=astextplain
*.PDF	diff=astextplain
*.rtf	diff=astextplain
*.RTF	diff=astextplain
*.vsdx	diff=astextplain
*.VSDX	diff=astextplain
