extends master

block css
    link(rel="stylesheet", href="http://js.arcgis.com/3.12/esri/css/esri.css")
    link(href="/css/arcgis.css", rel="stylesheet")


block body
    div(class="row", style="height:100%")
        div(class="col-xs-12 col-sm-9 col-md-10", style="height:100%")
            div(id="mapDiv", style="height:100%")
                div(id="loadingDiv")
                    img(src="/images/loading.gif" id="loading" style="position: relative;top: 50%;left: 50%")
        div(class="hidden-xs col-sm-3 col-md-2", style="height:100%")
            div(id="toggleDiv")
        
block js
    script.
        arcmapurl="#{mapurl}";
    script(src="http://js.arcgis.com/3.13/")
    script(src="/js/arcgis.js")