extends master

block title
    =title

block css
    link(href="/css/home.css", rel="stylesheet")

block main
    div(class="main-content")
        h1(class="bold", style="margin-bottom: 50px;") ND@125
        - for (var i = 0, n = data.intro.length; i < n; i++)
            - var cur = data.intro[i]
            div(class="intro-div")
                h2(cass="into-title")= cur.title
                div(class="intro-content")= cur.content 
         - for (var i = 0, n = data.groups.length; i < n; i++)
            - var cur = data.groups[i]
            div(class="group-div")
                h3(class="group-name")= cur.name
                div(class="group-description")
                    h4(class="bold") Brief Description
                    =cur.description
                div(class="group-members")
                    h4(class="bold") Team Members
                    ul
                        - for (var j = 0, m = cur.members.length; j < m; j++)
                            li= cur.members[j]
        div(class="group-photo", style="text-align: center;")
            h2 Group photo
            img(src="/images/nd_atlas_group2.jpg")

block js
    script(src="/js/home.js")
