extends master

block css
    link(href="#{geturl('/css/maps.css')}" rel="stylesheet")
    block map_css

block main
    div(id="mapWrapper")
        div(id="mapDiv")
            block map_div
    div(id="buttonDiv")
        div(class="btn-group-vertical" id="btn_group")
            block map_buttons

    div(id="narrative") 
        div(id="sidebar")
            div(id="story")
                block map_story

                block map_footer
                    div(id="main-footer")
                        div(style="text-align: center;" class="col-sm-12")
                            p #[b Geography Department]#[br]#[b 701.777.4246]
                            p(class="address") O'Kelly Hall, Room 152#[br]221 Centennial Drive, Stop 9020#{br}Grand Forks, ND 58202-9020
                        div(style="text-align: center; margin-top: 15px;" class="col-sm-12")
                        div(style="text-align: center; margin: 15px 0;" class="col-sm-12")
                            a(href="http://www.und.edu/")
                                img(src="/images/und_logo_wide.png" alt="Univeristy of North Dakota wide flame logo" class="center-block hidden-xs hidden-sm img-responsive")
                                img(src="/images/und_logo_compact.png" alt="University of North Dakota compact flame logo" class="center-block hidden-md hidden-lg img-responsive")
                            p #[b © 2015 University of North Dakota]

block js
    script(src="https://www.gstatic.com/charts/loader.js")
    block map_js

block footer
