extends master

block css
    link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    link(href="/css/map.css", rel="stylesheet")


block body
    div(id="map", style="width: 100%;")
    div(id="narrative")
        div(id="slider", style="display: inline-block; vertical-align: top; width: 60px;padding: 510px 10px;", class="expanded")
            i(class="glyphicon glyphicon-chevron-right", style="font-size: 48px;")
        div(id="story", style="display: inline-block; vertical-align: top; width: 600px; padding: 15px;")
            h2(id="title")= story.title
            div(id="content")= story.content
                
block js
    script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
    script(src="/js/spin.min.js")
    script(src="/js/catiline.js")
    script(src="/js/shp.min.js")
    script(src="/js/map.js")
