extends master

block css
    link(rel="stylesheet", href="http://js.arcgis.com/3.12/esri/css/esri.css")
    link(href="/css/map.css", rel="stylesheet")


block body
    div(id="mapDiv", style="height:100%; margin-top:50px")
        div(id="loadingDiv", style="height: inherit; background:rgba(0,0,0,0.5);")
            img(src="/images/loading.gif", id="loading", style="position: relative;top: 50%;left: 300px;")
    div(id="narrative") 
        div(id="slider", style="display: inline-block; vertical-align: top; width: 60px;padding: 310px 10px;", class="expanded")
            i(class="glyphicon glyphicon-chevron-right", style="font-size: 48px;")
        div(id="story", style="display: inline-block; vertical-align: top; width: 400px; padding: 15px;")
            h2(id="title", style="font-weight: bold; padding-bottom: 15px;")= story.title
            div(id="content")
                - for (var i = 0; i < story.sections.length; i++)
                    div(class="section")!= story.sections[i].content.replace(/{{cite:(\d+)}}/g, function(match, p1) { return '<a href="#" data-toggle="tooltip" data-placement="left" title="'+story.citations[p1-1]+'">['+p1+']</a>'; })
                div(style="margin: 50px 0;")
                    hr
                    div
                        |Geography | 701-777-4246
                        br
                        |O'Kelly Hall 152 | 221 Centennial Drive Stop 9020, Grand Forks, ND, 58202
                        div(style="margin-top: 50px; text-align: center;") © 2015 University of North Dakota
        
block js
    script(src="http://js.arcgis.com/3.12/")
    script(src="/js/map.js")