mixin AddStory(chapter, active)
    li
        a(href="/chapter/#{chapter.slug}", style="#{active ? 'font-weight: bold;' : ''}")= chapter.name

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title!= title
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="/css/master.css", rel="stylesheet")
        block css
    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href="/") nd@125
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li(class="dropdown")
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown") Chapters
                                span(class="caret")
                            ul(class="dropdown-menu")
                                - for (var i = 0, n = chapters.length; i < n; i++)
                                    +AddStory(chapters[i], chapters[i] === chapter ? 1 : 0)
                        li
                            a(href="/admin") Admin
                        block navitem
                    ul(class="nav navbar-nav navbar-right")
                        li
                            - if (previous)
                                a(href="#{previous.slug}") Previous Story
                            - else
                                a(href="/#", class="disabled") Previous Story
                        li
                            - if (next)
                                a(href="#{next.slug}") Next Story
                            - else
                                a(href="/#", class="disabled") Next Story                                
        block body
        main(class="container")
            block main
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/master.js")
        block js
