doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title
            block title
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="/css/master.css", rel="stylesheet")
        block css
    body
        block navbar
        main(class="container")
            block main
        script(src="/js/jquery-2.1.3.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/master.js")
        block js
