mixin AddTheme(theme, active)
    li
        a(href="/themes/#{theme.slug}", style="#{active ? 'font-weight: bold;' : ''}")= theme.name

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title!= title
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/bootstrap-social.css", rel="stylesheet")
        link(href="/css/master.css", rel="stylesheet")
        block css
    body
        nav(class="navbar navbar-und navbar-fixed-top")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href="/") NORTH DAKOTA ATLAS
                div(class="collapse navbar-collapse")
                    ul(class="nav navbar-nav")
                        li
                            a(href="/#about-section") About
                        li
                            a(href="/#making-section") Making of the Atlas
                        li
                            a(href="/#team-section") Team
                        li(class="dropdown")
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown") Themes
                                span(class="caret")
                            ul(class="dropdown-menu")
                                - for (var i = 0, n = themes.length; i < n; i++)
                                    +AddTheme(themes[i], themes[i] === theme ? 1 : 0)
                        block navitem
                    - if (!/Admin/.test(title))
                        ul(class="nav navbar-nav navbar-right")
                            li
                                - if (previous)
                                    a(href="#{previous.slug}") Previous Story
                                - else if (chapter)
                                    a(href="/#", class="disabled") Previous Story
                            li
                                - if (next)
                                    a(href="#{next.slug}") Next Story
                                - else if (chapter)
                                    a(href="/#", class="disabled") Next Story                                
        block body
            block main
            block footer
                div(id="main-footer", class="container-fluid")
                    div(class="col-xs-12 col-sm-4 footer-left-block")
                        p
                            b Geography Department
                            br
                            b 701.777.4246
                        p(class="address")
                            |O'Kelly Hall, Room 152
                            br
                            |221 Centennial Drive, Stop 9020
                            br
                            |Grand Forks, ND 58202-9020
                    div(class="col-xs-12 col-sm-4 col-sm-push-4 footer-right-block")
                        p
                            b Share this project
                        p
                            a(class="btn btn-social-icon btn-twitter", title="Share on Twitter", href="http://twitter.com/?status=Interactive atlas celebrating 125 years of ND statehood: http://ndatlas.und.edu/")
                                i(class="fa fa-twitter")
                            a(class="btn btn-social-icon btn-facebook", title="Share on Facebook", href="http://www.facebook.com/sharer/sharer.php?u=http://ndatlas.und.edu/")
                                i(class="fa fa-facebook")
                            a(class="btn btn-social-icon btn-google", title="Share on Google+", href="https://plus.google.com/share?url=http://ndatlas.und.edu/")
                                i(class="fa fa-google")
                            a(class="btn btn-social-icon btn-reddit", title="Share on Reddit", href="http://reddit.com/submit?url=http://ndatlas.und.edu/")
                                i(class="fa fa-reddit")
                            a(class="btn btn-social-icon btn-envelope", title="Share on Reddit", href="mailto: ?subject=Check out this interactive atlas celebrating 125 years of ND statehood&body=http://ndatlas.und.edu/")
                                i(class="fa fa-envelope")
                    div(class="col-xs-12 col-sm-4 col-sm-pull-4 footer-center-block")
                        a(href="http://www.und.edu/")
                            img(class="center-block hidden-xs hidden-sm img-responsive", src="/images/und_logo_wide.png", alt="Univeristy of North Dakota wide flame logo")
                            img(class="center-block hidden-md hidden-lg img-responsive", src="/images/und_logo_compact.png", alt="University of North Dakota compact flame logo")
                        p
                            b © 2015 University of North Dakota

        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/master.js")
        block js
