extends master  

block css
    link(rel="stylesheet" type="text/css" href="/css/students.css")
    link(rel="stylesheet" type="text/css" href="/css/dark_menu.css")

block main
    div(class="row")
        div(class="col-lg-12")
            h1(id="title") The Students
        hr
    div(class="row")
        div(class="col-xs-12")
            p Welcome to the photo gallery. Click on a picture for the description.
    div(class="row")
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic1.jpg" id="pic1")
            div(class="well well-lg" id="text1")
                p In April 2016, Mike Jacobs and seven students explored North Dakota on a field trip going to places like several ghost towns, Bismarck prison, missile silo sites, Marmarth, and the Roosevelt North Unit and others. Here the group is in the ghost town of Leith. The students are: Alex Aman, Karl Bauer, Will Beaton, Mike Fecadu, Paul Jensen, Shawn Larson, and Adam Ratchenski.
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic4.jpg" id="pic4")
            div(class="well well-lg" id="text4")
                p Jacob Crane, UND History, A Brief Narrative on the History of Nuclear Weapons in North Dakota, as Mapped by the North Dakota Atlas Project.
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic2.jpg" id="pic2")
            div(class="well well-lg" id="text2")
                p Karl Bauer, UND Geography, Abandoned Landscapes: Mapping North Dakota's Frontier Communities.
    div(class="row")
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic5.jpg" id="pic5")
            div(class="well well-lg" id="text5")
                p Adam Ratchenski, UND History, North Dakota Atlas Project: A History of the Conservation Reserve Program in North Dakota.
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic3.jpg" id="pic3")
            div(class="well well-lg" id="text3")
                p Paul Jensen, UND History, Politics of the Prairie: A Survey of Early North Dakota Gubernatorial Elections (1889-1930).
        div(class="col-lg-4 col-xs-12")
            img(class="img" src="/images/student_pics/pic6.jpg" id="pic6")
            div(class="well well-lg" id="text6")
                p Students from GEOG 471/L Cartography & Visualization, A&S 499 Interdisciplinary Practicum, and CS492 Senior Capstone I during Fall 2014 semester.
                
block js
    script(type="text/javascript" src="js/students.js")
