extends master

block css
    link(href="/css/text.css", rel="stylesheet")

block body
    div(class="jumbotron", style="padding: 50px 0;")
        div(class="container")
            h1(id="title")= story.name ? story.name : chapter.name
            - if (next)
                div(style="text-align: right; margin-top: 25px;")
                    a(href="/chapter/#{next.slug}")
                        h3(style="color:#282828; font-weight: bold;")
                            ='Next: '+next.name
                            i(class="glyphicon glyphicon-chevron-right", style="top: 5px;")

    div(class="container")
        div(id="content")
            - for (var i = 0; i < story.sections.length; i++)
                div(class="section")!= story.sections[i].content.replace(/{{cite:(\d+)}}/g, function(match, p1) { return '<a href="#" data-toggle="tooltip" title="'+story.citations[p1-1]+'">['+p1+']</a>'; })
        - if (story.bibliography)
            div(id="bibliography", style="margin-top: 50px;")
                h2
                    b Bibliography
                - for (var i = 0; i < story.bibliography.length; i++)
                    div(class="section")!= story.bibliography[i]
        hr
        footer
            |Geography | 701-777-4246
            br
            |O'Kelly Hall 152 | 221 Centennial Drive Stop 9020, Grand Forks, ND, 58202
            div(style="margin-top: 50px; text-align: center;") © 2015 University of North Dakota
  

block js
    script(src="/js/text.js")
