@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}

@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}

body {
/*	overflow-x: hidden;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url('../images/backgrounds/oil_wells_f.jpg');
	color: white;
	text-align: center;
}

hr {
	border: 0;
	background: #a88100;
	background-image: linear-gradient(to right, #a88100, #a88100, #a88100);
	height: 3px;
}

#title {
	font-family: Scriptina;
	font-size: 60px;
	line-height: 150%;
	text-align: center;
	color: white; 
}

#nav_tab {
	color: black;
	font-family: Lato_Italic;
	font-weight: bold;
}

.well {
	background-color: rgba(0, 0, 0, 0.2);
	text-align: left;
	border: 1px solid #a88100;
}

p {
	font-size: 18px;
}

h2 {
	font-family: Lato_Italic;
}

h3 {
	font-family: Lato_Italic;
}

p {
	font-family: Lato_Italic;
}

ul {
	font-family: Lato_Italic;
}

.hideshow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*initially hides semester divs*/
.hideshowDIV {
	display: none;
}

.hideshow:hover {
    text-decoration: none;
    cursor: pointer;
}
