.col-lg-4 > div:nth-child(n+1) {
    margin-top: 10px;
}
#welcome {
    width: 100%;
}
#welcome .buttons {
    height: 70px;
    margin-top: 70px;
}

#welcome-header {
    background-color: rgba(110,196,124,0.8);
    padding: 80px 0px;
    text-align: center;
    color: #FFF;
}

#welcome-details {
	background-color: #FFF;
	padding: 50px;
}
#welcome-details .info {
    text-align: center;
}
#welcome-details .info .lead-icon {
    color: #B7B7B7;
    font-size: 80px;
}
#welcome-details .info p {
    font-size: 1.3em;
}

.section h1 {
	margin-bottom: 40px;
    font-size: 80px;
    font-weight: 100;
    text-align: center;
}
.section h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;
}
.section {
    padding: 30px 0px 40px;
    background-color: #FFF;
}
.section-quote {
    background-color: rgba(93, 92, 93, 0.6);
    color: #FFF;
    padding: 100px 0px;
    text-align: center;
}
blockquote {
    font-size: 1.4em;
    border-left: 0px none;
    padding: 20px 0px;
}
blockquote footer {
    margin-top: 30px;
    font-size: 100%;
    font-weight: bold;
    color: #B7B7B7;
}
.section-quote blockquote footer {
    color: #FFF;
}

.buttons {
	text-align: center;
}
.btn-xlg {
    padding: 18px 28px;
    font-size: 16px;
    line-height: normal;
    border-radius: 8px;
}
.green .btn.btn-primary {
	background: none repeat scroll 0% 0% #FFF;
    border-color: #FFF;
    color: #255c2e;
}