body {
    margin-top: 50px;
    margin-bottom: 0;
}

#narrative {
    position: absolute;
    top: 0;
    right: 0;
    /*width: 460px;*/
    z-index: 1000;
    background-color: #f6f6f6;
    overflow-y: hidden;
}

#mainBody {
    position: absolute;
    top: 54px;
    bottom: 0;
    right: 0;
    left: 0;
}

#mapWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 460px;
    z-index: 0 !important;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 70px;
    width: 100%;
}

#content {
    margin-top: 10px;
}
  
#story{
    overflow-y: scroll;
    z-index: 1000;
    height: calc(100vh - 251px) !important;
}

#slider {
    z-index: 1000;
    cursor: pointer;
}
    
.section:nth-child(n+2) {
    margin-top: 15px;
}

.tooltip-inner {
    max-width: 600px;
}

#legendDiv {
    position: absolute;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    bottom: 25px;
    right: 25px;
    background-color: rgba(100,100,100,.8);
    color: #FFF;
    z-index: 50;
    border: 1px solid #000;
}

#legendDiv h3 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgba(100,0,0,.8);
}

#legendTable {
    width: 100%;
    margin: 0 5px;
}

#legendTable td {
    padding: 0 2px;
}

#loadingDiv {
    height: 100%;
    width: 100%;
    background:#7f7f7f;
    background:rgba(0,0,0,0.55);
    position: absolute;
    top: 0;
    z-index: 100;
}

#mapFooter {
    height: 70px;    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.playButton {
    font-size: 30px;
    padding: 1px 4px;
}

#toggleSlider {
    margin: 0 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
}

#main-footer {
    margin-top: 15px;
    background-color: inherit;
}

.footer-left-block, .footer-right-block {
    text-align: center;
} 

.footer-right-block, .footer-center-block {
    padding-top: 15px;
    margin-top: 5px;
}

footer {
    margin-top: 20px;
    padding-top: 10px;
}
