body {
    margin-top: 50px;
}
#narrative {
    position: fixed;
    top: 50px;
    right: 0;
    width: 700px;
    z-index: 1000;
    background-color: #f6f6f6;
    -webkit-box-shadow: 10px 0 5px 10px #aaa;
    box-shadow: 10px 0 5px 10px #aaa;
} 

#slider {
    cursor: pointer;
    }
