body {
    margin-top: 50px;
    margin-bottom: 0;
}

#narrative {
    position: fixed;
    top: 50px;
    right: 0;
    width: 460px;
    z-index: 1000;
    background-color: #f6f6f6;
    -webkit-box-shadow: 10px 0 5px 10px #aaa;
    box-shadow: 10px 0 5px 10px #aaa;
} 
#content {
    margin-top: 10px;
}
   
#story{overflow-y: scroll;}
#slider {
    cursor: pointer;
    }
    
.section:nth-child(n+2) {
    margin-top: 15px;
}
.tooltip-inner {
    max-width: 600px;
}
#map {
    margin-top: 50px;
    height: 100%;
    float: left;
    width: 80%;
    background: #FFF;
}
#legendDiv {
    position: absolute;
    bottom: 0;
    height: auto;
    width: auto;
    max-width: 400px;
    bottom: 0;
    right: 410px;
    background-color: rgba(0,0,0,.5);
    color: #FFF;
    z-index: 2;
}
#loadingDiv {
    height: 100%;
    width: 100%;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    z-index: 100;
}
#mapFooter {
    height: 70px;    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 460px;
}
#toggleSlider {
    margin: 0 20px;
}
#main-footer {
    margin-top: 15px;
    background-color: inherit;
}

.footer-left-block, .footer-right-block {
    text-align: center;
} 
.footer-right-block, .footer-center-block {
    padding-top: 15px;
    margin-top: 5px;
}
footer {
    margin-top: 20px;
    padding-top: 10px;
}
