@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}
@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}

body {
	overflow-x: hidden;
	background-image: url(../images/nd_utexas_bw.jpg); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#space {
	border: 0;
	background: rgb(255, 255, 255);
}

hr {
	border: 0;
	background: #a88100;
	background-image: linear-gradient(to right, #a88100, #a88100, #a88100);
	height: 1px;
}

#welcome_well {
	background-color: rgba(255, 255, 255, 0.6);
}

#title {
	font-family: Scriptina;
	font-size: 60px;
	line-height: 150%;
	text-align: center;
	color: white; 
}

#nav_tab {
	color: black;
	font-family: Lato_Italic;
	font-weight: bold;
	font-size: 25px;
}

.well {
	background-color: rgba(245, 245, 245, 0.4);
	border: none;
	text-align: left;
}

img {
	height: auto;
	width: 100%;
}
