#title0 {
	font-weight: bold;
	padding-bottom: 15px;
}

#story {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 10px;
}

#slider {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	padding: 0 5px;
	padding-top: 50%;
	height: 100%;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	width: 415px;
	padding: 5px;
}

#narrative {
    position: absolute;
    top: 0;
    right: 0;
    /*width: 460px;*/
    z-index: 1000;
    background-color: #f6f6f6;
    overflow-y: hidden;
}

#mainBody {
    position: absolute;
    top: 54px;
    bottom: 0;
    right: 0;
    left: 0;
}

#mapWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 460px;
    z-index: 0 !important;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 10px;
    width: 90%;
}

#btn_group {
	left: 10px;	
}

#buttonDiv {
	bottom: 10px;
}

#content {
    margin-top: 10px;
}
  
#story{
    overflow-y: scroll;
    z-index: 1000;
    height: 600px !important;
}
