.navbar-brand {
    font-weight: bold;
}
.jumbotron {
    background-color: #006600;
    padding: 100px 0;
}
.jumbotron h1 {
    color: #eeeeee;
    font-weight: bold;
}
h1 {
    margin: 0;
}
body {
    margin-top: 50px;
}
