.navbar-brand {
    font-weight: bold;
}
.jumbotron {
    background-color: #006600;
    padding: 100px 0;
}
.jumbotron h1 {
    color: #eeeeee;
    font-weight: bold;
}
h1 {
    margin: 0;
}
body {
    margin: 50px 0;
}
a.disabled {
    color: #555555 !important;
    cursor: not-allowed;
}

/* UND-style navbar */
.navbar-und {
    background-color: #009900;
    border-color: #006600;
}
.navbar-und .navbar-brand {
    color: #ffffff;
}
.navbar-und .navbar-brand:hover, .navbar-und .navbar-brand:focus {
    color: #ddeedd;
}
.navbar-und .navbar-text {
    color: #ffffff;
}
.navbar-und .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-und .navbar-nav > li > a:hover, .navbar-und .navbar-nav > li > a:focus {
    color: #ddeedd;
    background-color: #006600;
}
.navbar-und .navbar-nav > .active > a, .navbar-und .navbar-nav > .active > a:hover, .navbar-und .navbar-nav > .active > a:focus {
    color: #ddeedd;
    background-color: #006600;
}
.navbar-und .navbar-nav > .open > a, .navbar-und .navbar-nav > .open > a:hover, .navbar-und .navbar-nav > .open > a:focus {
    color: #ddeedd;
    background-color: #006600;
}
.navbar-und .navbar-toggle {
    border-color: #006600;
}
.navbar-und .navbar-toggle:hover, .navbar-und .navbar-toggle:focus {
    background-color: #006600;
}
.navbar-und .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-und .navbar-collapse,
.navbar-und .navbar-form {
    border-color: #ffffff;
}
.navbar-und .navbar-link {
    color: #ffffff;
}
.navbar-und .navbar-link:hover {
    color: #ddeedd;
}

@media (max-width: 767px) {
    .navbar-und .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-und .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-und .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ddeedd;
    }
    .navbar-und .navbar-nav .open .dropdown-menu > .active > a, .navbar-und .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-und .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ddeedd;
        background-color: #006600;
    }
}
