@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}

@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}

body {
/*	overflow-x: hidden;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-image: url('../images/nd_background2_f.jpg');
}

#space {
	border: 0;
	background: rgb(255, 255, 255);
}

hr {
	border: 0;
	background: #a88100;
	background-image: linear-gradient(to right, #a88100, #a88100, #a88100);
	height: 3px;
}

#title {
	font-family: Scriptina;
	font-size: 60px;
	line-height: 150%;
	text-align: center;
	color: white; 
}

h5 {
	text-align: center;
}

#nav_tab {
	color: black;
	font-family: Lato_Italic;
	font-weight: bold;
	font-size: 25px;
}

.row {
	text-align: center;
}

#title_well {
	background-color: rgba(245, 245, 245, 0.0);
}

.well {
	background-color: rgba(245, 245, 245, 0.6);
	border: 1px solid white;/*#996600;	*/
	font-family: Lato_Italic; 
}

img {
	width: 100%;
	height: auto;
}

#textbox {
	text-align: center;
}
