body {
  background-image: linear-gradient(#006600, #222222);
}
main {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    margin-top: 50px;
}
.main-content {
    background-color: #ffffff;
    padding: 15px;
    height: 100%;
}
.intro-div,.group-photo {
    margin-top: 50px;
}
.group-div {
    margin-top: 30px;
}
