@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}
@font-face {
	font-family: Scriptina;
	src: url(fonts/Scriptina.ttf);
}

body {
/*	overflow-x: hidden;*/
	background-image: url(../images/backgrounds/bison_bw.JPG); 
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#title_well {
	background-color: rgba(245, 245, 245, 0.0);
}

#title {
	font-family: Scriptina;
	font-size: 60px;
	line-height: 150%;
	text-align: center;
	color: white; 
}

hr {
	border: 0;
	background: #a88100;
	background-image: linear-gradient(to right, #a88100, #a88100, #a88100);
	height: 3px;
}

#text_well {
	text-indent: 2.0em;
	background-color: rgba(255, 255, 255, 0.6);
	font-family: Lato_Italic;
	font-size: 20px;
	border: 1px solid #a88100;	
}

h5 {
	text-align: center;
}

#indent {
	padding-left: 1em;
	padding-right: 1em;
}

/*This css is the style sheet for the new ndatlas menu.*/


